@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand: 124 44 191;
  --color-brand-subtle: 244 231 255;
  --color-outline: 229 229 229;
  --color-ash: 246 246 245;
  --color-ash-strong: 240 240 240;
  --color-canvas: 255 255 255;
}

.dark {
  --color-brand: 203 171 229;
  --color-brand-subtle: 62 22 96;
  --color-outline: 51 51 51;
  --color-ash: 26 26 26;
  --color-ash-strong: 44 44 42;
  --color-canvas: 0 0 0;
}

html {
  color-scheme: light;
}

/* inside your CSS file */
@layer utilities {
  .no-border-last-3:nth-last-child(-n+3) {
    @apply md:border-b-0;
  }

  .no-border-every-3:nth-child(3n) {
    @apply md:border-r-0;
  }
}
