# By default all files to @pskd73
* @pskd73

# Docs
/docs/docs @egelhaus

# Docker & selfhosted related Files for @egelhaus
docker-compose.yml @egelhaus
docker-compose-local.yml @egelhaus
Dockerfile.* @egelhaus
/docs/docs/self-host.md @egelhaus

# GitHub related configs
/.github @egelhaus

# Discord bot related files for @egelhaus
/discord-bot @egelhaus
